Repository rajdeepsingh/template-react-application: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm run format, prettier --write

Formatting default App.tsx
  src/App.tsx
Due: pnpm run lint, pnpm run format

Providing Eslint access to Prettier formatting errors to handle them in Eslint
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Added react-hooks plugin to the eslint config file
  .eslintrc.cjs
Due: none

Added some recommended eslint plugins
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Added unit testing using vitest
  .eslintrc.cjs
  README.md
  package.json
  pnpm-lock.yaml
  src/App.test.ts
  src/App.tsx
  vite.config.ts
Due: pnpm run lint, pnpm run format, prettier --write

Adding js-dom support to vitest
  package.json
  pnpm-lock.yaml
  setupTests.ts
  vite.config.ts
Due: pnpm run lint, pnpm run format, prettier --write

Adding support for absolute paths and restricting relative paths
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: pnpm run lint, pnpm run format, prettier --write

Adding support for running the application in different NODE_ENV and APP_ENV modes
  .env.development
  .env.production
  .env.staging
  package.json
  src/App.tsx
  src/env.d.ts
Due: pnpm run lint, pnpm run format, prettier --write

Migrating from Husky v8 to v9
  .husky/pre-commit
  package.json
Due: prettier --write

Adding node.js version enforcement to the package.json file
  package.json
Due: prettier --write

Path conditions:
  pnpm run lint: any of: *.{ts,js,tsx,jsx}
  pnpm run format: any of: *.{ts,js,tsx,jsx}
  prettier --write: any of: *.{json,md}
